.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    background: rgb(73,87,210);
    background: linear-gradient(52deg, rgba(73,87,210,1) 0%, rgba(189,79,192,1) 100%);

}